// Custom styles.
 .post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   padding-top:10px;
   -webkit-box-shadow: 0 0 5px  rgba(202, 203, 204, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

.posts-expand .post-meta {
    margin: 3px 0 20px 0;
    color: #999;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    text-align: left;
}

.posts-expand .post-title {
    text-align: left;
    word-break: break-word;
    font-weight: 400;
}

.posts-expand .post-eof {
    display: none;
}